# -*- coding: utf-8; mode:conf -*-
[user]
	name = Kao Félix
	email = me@kaofelix.dev

[init]
	defaultBranch = main

[core]
	excludesfile = ~/.global-gitignore
	autocrlf = input
	pager = LESS='FR --redraw-on-quit' delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	side-by-side = true

[merge]
	conflictStyle = zdiff3

[diff]
	algorithm = histogram
	colorMoved = default

[fetch]
	prune = true

[rerere]
	enabled = true

[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	pr = pull --rebase
	pff = pull --ff-only
	amend = commit --amend
	fix = commit --amend --no-edit
	di = diff
	ds = diff --staged
	dh1 = diff HEAD~1
	aa = add --all
	ff = merge --ff-only
	noff = merge --no-ff
	fa = fetch --all
	pom = push origin main
	spp = !git stash && git pull --rebase && git stash pop

[branch]
	autosetuprebase = always

[rebase]
	autoStash = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
