[submodule "skills/ast-grep-skill"]
	path = skills/ast-grep-skill
	url = https://github.com/ast-grep/claude-skill.git
[submodule "skills/pi-skills"]
	path = skills/pi-skills
	url = https://github.com/badlogic/pi-skills.git
[submodule "pi-extensions"]
	path = pi-extensions
	url = git@github.com:tmustier/pi-extensions.git
[submodule "pi/.pi/agent/extensions/watch"]
	path = pi/.pi/agent/extensions/watch
	url = git@github.com:kaofelix/pi-watch.git
